<div class="container d-flex flex-column align-items-center">
  <div class="logo my-5 d-flex justify-content-center">
    <img class="w-50" src="/images/linked.png" alt="logo">
  </div>

  <h1>轉址失敗</h1>


  <p>找不到該網址或系統忙碌中</p>
  <p>請確認網址或稍後再試</p>

</div>